:root{
    /* Colors */

    --grey-dark: var(#4D4F62);
    --grey-light: var(#6a7178);
    --white: var(#ffffff);
    --red: var(#EA5454);
    --cyan: var(#44D3D2);
    --blue: var(#549EF2);
    --orange: var(#FCAE4A);

    /* Typography */

    /* Spacing */
}

