@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root{
    /* Colors */

    --grey-dark: #4D4F62;
    --grey-light: #6a7178;
    --white: #ffffff;
    --red: #EA5454;
    --cyan: #44D3D2;
    --blue: #549EF2;
    --orange: #FCAE4A;

    /* Typography */

        --font-family-poppins: 'Poppins', sans-serif;
        --font-weight-light: 300;
        --font-weight-regular: 400;
        --font-weight-medium: 500;
        --font-weight-semi-bold: 600;
        --font-size-13: 0.8125rem;
        --font-size-15: 0.9375rem;
        --font-size-20: 1.25rem;
        --font-size-36: 2.25rem;
        --line-height-135: 1.35;
        --line-height-140: 1.40;
        --line-height-160: 1.60;
        --letter-spacing-0: 0;
        --letter-spacing-025: 0.25px;

    /* Spacing */
    
    --spacing-8: 0.5rem;
    --spacing-16: 1rem;
    --spacing-24: 1.5rem;
    --spacing-32: 2rem;
    --spacing-40: 2.5rem;

}

body {
    margin: 0;
    font-family: var(--font-family-poppins);
    background-color: var(--white);
    color: var(--grey-dark);
}

section {
    border: 1px solid black;
}

main {
    display: grid;
    max-width: 314px;
    margin-inline: auto;
    margin-block: var(--spacing-40);
    gap: 60px;
}

.hero-intro {
    max-width: 34rem;
    margin-inline: auto;
    text-align: center;
}

.hero-title {
    margin: 0;
    display: flex;
    flex-direction: column;
    line-height: 1.35;
    letter-spacing: 0.016em;
}

.hero-title-light {
    font-weight: 300;
    color: #4d4f62;
}

.hero-title-strong {
    font-weight: 600;
    color: #4d4f62;
}

.hero-subtitle {
    margin-top: 1rem;
    color: #6a7178;
    font-size: 0.9375rem;
    line-height: 1.6;
}

.card-divider {
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr / 1fr;
    gap: var(--spacing-32);
}

.card-1{
    position: relative;
    border: none;
    border-radius: 8px;
    box-shadow: 0px 15px 30px var(--grey-light);
}
.card-1::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 4px;
        background-color: var(--cyan);
        border-radius: 8px 8px 0 0;
    }
.card-2{
    background-color: var(--cyan);
}
.card-3{
    background-color: var(--blue);
}
.card-4{
    background-color: var(--orange);
}
